# ignore the common tmp, debug, intermediate and ephemeral fellas
*.DS_Store
*.cache
*.swp
*~
*.tmp
*.zip
/log

# eliminate .idea
.idea

# our own junk
coverage
dist
node_modules

# our own internal gobbledegook
test/data/out.mid
